


.clock {
    position: relative;
    top: 0;
    left: 0;
    background-color: black;    
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.outer-clock-face {
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 25px;
    left: 25px;
    width: 450px;
    height: 450px;
    border-radius: 50%;   
}

.marking {
    position: fixed;
    background-color: black;
    width: 10px;
    height: 30px;
}

.mark {
    position: fixed;
    background-color: black;
    width: 5px;
    height: 20px;   
}

.marking-one {
    top: 33px;
    left:253px;
}
.marking-three {
    left:253px;
    top: 458px;
}

.marking-two {
    transform: rotate(90deg);
    top: 248px;
    left:468px;
}
.marking-four {
    transform: rotate(90deg);
    top: 248px;
    left:33px;
}

.hand {
    background-color: black;
    position: fixed;
    top: 258px;
    left: 258px;
    transform-origin: top center;
    border-radius: 10px;
}

.hour-hand {
    left: 248px;
    width: 20px;
    height: 100px;
}

.min-hand {
    left: 253px;
    width: 10px;
    height: 180px;
}

.second-hand {
    background-color: red;
    left: 255.5px;
    width: 5px;
    height: 180px;
}

#dot {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    top: 243px;
    left: 243px;
}